<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sessionEx.dao.MainDAO">
    <select id="getUser" resultType="UserVO">
        SELECT *
          FROM USER
         WHERE id = '${id}'
           AND passwd = '${passwd}'
    </select>

    <select id="getIpBanList" resultType="IpBanVO">
        SELECT *
        FROM ipban
    </select>
</mapper>